* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PP Mori';
}

@font-face {
    font-family: 'Fira Code';
    src: url('../font/FIRACODE-REGULAR.TTF') format('truetype');
}

@font-face {
    font-family: 'PP Mori';
    src: url('../font/PPMORI-REGULAR.OTF') format('opentype');
}

body {
    min-height: 100vh;
    width: 100%;
}

header {
    position: fixed;
    width: 100vw;
    height: 15vh;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

header nav {
    padding: 16px 32px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(240, 240, 240,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

a {
    text-decoration: none;
    color: #000;
}

nav ul li a:hover {
    text-decoration: underline;
 }

header nav ul.collaborate{
    gap: 64px;
}

header nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
    align-items: center;
}

header nav ul li button a {
    color: #eee;
}

button {
    padding: 15px 20px;
    border: none;
    outline: none;
    background-color: #151515;
    color: #eee;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

button:hover {
    transform: translateY(-3px);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100vw;
    gap: 16px;
    padding: 16px;
}

section.hero {
    height: 100vh;
}

.space {
    height: 15vh;
}

.hero .content{
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.hero .arrow-help {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#arrow {
    animation: moveArrow 2s infinite;
}

@keyframes moveArrow {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
}

.big-card {
    height: 45vh;
    width: calc(100vw - 32px);
    border-radius: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
    margin-bottom: 16px;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.bot-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

.collaborate .card>img {
    height: 200px;
    width: auto;
    max-width: 200px;
    border-radius: 50%;
}

.discover .card>img {
    height: 200px;
    width: auto;
    max-width: 200px;
}

.form {
    width: 360px;
    height: 400px;
    margin: auto auto;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
    position: relative;
}

.form form {
    width: 280px;
    position: absolute;

}

.form-box {
    width: 280px;
    position: absolute;
    top: 100px;
    left: 40px;
}

form h3 {
    text-align: center;
    margin-bottom: 40px;
    color: #000;
}

form input {
    width: 100%;
    padding: 10px 5px;
    margin :5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
::placeholder {
    color: #777;
}

.btn-box {
    width: 100%;
    margin: 30px auto ;
    text-align: center;
}



footer{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}