* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Fira Code';
    src: url('../font/FIRACODE-REGULAR.TTF') format('truetype');
}

@font-face {
    font-family: 'PP Mori';
    src: url('../font/PPMORI-REGULAR.OTF') format('opentype');
}

body {
    font-family: 'PP Mori';
}

header {
    position: fixed;
    width: 100vw;
    height: 15vh;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

header img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

header nav {
    padding: 16px 32px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(240, 240, 240,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

a {
    text-decoration: none;
    color: #000;
}

nav ul li a:hover {
    text-decoration: underline;
 }

header nav ul.collaborate{
    gap: 64px;
}

header nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
    align-items: center;
}

header nav ul li button a {
    color: #eee;
}

header button, .register button, .login button, .message button {
    padding: 15px 20px;
    border: none;
    outline: none;
    background-color: #151515;
    color: #eee;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

button:hover {
    transform: translateY(-3px);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

section.hero {
    height: 100vh;
}

.space {
    height: 15vh;
}

.hero .content{
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.hero .arrow-help {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#arrow  {
    animation: moveArrow 2s infinite;
}

@keyframes moveArrow {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
}

.big-card {
    height: 45vh;
    width: calc(100vw - 32px);
    border-radius: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
    margin-bottom: 16px;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.bot-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

.collaborate .card>img {
    height: 200px;
    width: auto;
    max-width: 200px;
    border-radius: 50%;
}

.discover .card>img {
    height: 200px;
    width: auto;
    max-width: 200px;
}

.form {
    width: 360px;
    height: 500px;
    margin: auto auto;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
    position: relative;
    overflow: hidden;
}

.form form {
    width: 280px;
    position: absolute;

}

.form-box {
    width: 280px;
    position: absolute;
    top: 100px;
    left: 40px;
    transition: 0.5s ;
}

.register form h3, .message form h3, .login form h3 {
    text-align: center;
    margin-bottom: 40px;
    color: #000;
}

.register form input, .message form input, .login form input {
    width: 100%;
    padding: 10px 5px;
    margin :5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
::placeholder {
    color: #777;
}

.btn-box {
    width: 100%;
    margin: 30px auto ;
    text-align: center;
}

#form2, #form3, #form4 {
    left: 450px;
}

.step-row {
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
    position: relative;
}

.step-col {
    width: 90px;
    text-align: center;
    
    color: #333;

    position: relative;
}

#progress{
    position: absolute;
    height: 100%;
    width: 90px;
    background :linear-gradient(90deg, rgb(232, 115, 255) 0%, rgb(141, 173, 255) 100%);
    transition: 0.5s;
}

#progress::after {
    content:'';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top : 0;
    border-left: 20px solid rgb(141, 173, 255);
}

.error {
    color: red;
    margin-bottom: 10px;
}

.success {
    color: green;
    margin-bottom: 10px;
}

/* ---------------Discover File--------------- */

aside {
    text-align: center;
    line-height: 3em;
    margin: 3% 0;
}
h2{
    font-size: 50px;
}

#discover form{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto 5%; 
    font-size: 25px; 
}
#discover input{
    font-size: 25px;
}
#discover label{
    width: 50%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    background-color: #F0F0F0;
    border-radius: 3em;
    padding: 6px;
}
#discover label input{
    width: 95%;
    border: none;
    background-color: #F0F0F0;
    padding-left: 1%;
}
#discover label button{
    width: 5%;
    border: none;
    background-color: #F0F0F0;
}
#discover form span{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 3em;
    padding: 10px;
    margin-right: 20%;
}
#discover form > div{
    width: 30%;
    background-color: #F0F0F0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 0px 2px 8px 5px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    padding: 1%;
    margin-left: 70%;
    display: none;
}
#discover form div div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#discover form div label{
    margin-left: 0;
}
#tag{
    width: 100%;
    background-color: #D4D4D4;
    padding: 5px 10px;
}
#tag input, #tag button{
    background-color: #D4D4D4;
}

#discover section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    border-radius: 20px;
    padding: 2%;
}
#discover > section{
    margin-bottom: 5%;
}
#discover section h3{
    width: 100%;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 2%;
}
#carrousselpepite{
    justify-content: start !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    width: 90% !important;
    padding-left: 5% !important;
    scrollbar-width: none;
}
.oeuvre{
    flex: 0 0 auto;
    margin-right: 4%;
    width: 16%;
}
.oeuvre:hover{
    cursor: pointer;
    scale: 1.05;
}
.oeuvre div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.oeuvre img{
    width: 100%;
}
.oeuvre div div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 7% 0;
    align-items: center;
}
#discover h4{
    font-weight: normal;
    font-size: 18px;
}
.oeuvre div > span{
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
}
.oeuvre div span button{
    border: none;
    background-color: transparent;
}

#discover section > button{
    width: 3%;
    border: none;
    background-color: transparent;

}
#discover section button img{
    width: 100%;
}
#discover #carrousselpepite .oeuvre p{
    margin-right: 5%;
}
#carrousselartiste{
    justify-content: start !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    width: 90% !important;
    padding-left: 5% !important;
    scrollbar-width: none;
}

#zoomartiste{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 45vh;
}
#zoomartiste > img{
    position:absolute;
    border-radius: 50%;
    width: 23%;
    z-index: 100;
}
#zoomartiste > span{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}
#zoomartiste span span{
    width: 10%;
    display: flex;
    justify-content: space-between;
}
#zoomartiste span span button {
    border: none;
    background-color: transparent;
}

#zoomartiste #carrousselartiste {
    margin-left: 5%;
    background-color: transparent;
}

#zoomartiste #carrousselartiste .oeuvre {
    position: relative;
    overflow: hidden;
    width: 20%;
}

#zoomartiste #carrousselartiste .oeuvre div {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;
    opacity: 0;
    display: flex;
    flex-direction: column;

}

#zoomartiste #carrousselartiste .oeuvre:hover div {
    transform: translateY(-5%);
    opacity: 1;
    display: flex;
    background-color: #e7e7e7be;
    line-height: 2em;
}


/* -------------FILE COLABORATE------------ */

#carrousselCollab{
    justify-content: start !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    width: 90% !important;
    padding-left: 5% !important;
    scrollbar-width: none;
}

.fiche_artiste{
    margin-right: 3%;
    flex: 0 0 auto;
    width: 25%;
}
.fiche_artiste img{
    width: 100%;
}
.fiche_artiste div h4{
    text-align: center;
    padding: 5% 0;
}
.fiche_artiste div ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

/*-------------PROFIL-------------*/

.profile-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.profile-content {
    
    width: 60%;
    height: auto;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    font-size: larger   ;
}

.option {
    width: 33.33%;
    height: 10vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.squares-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; /* Tailwind gap-8 */
    
}

.square {
    height: 5vh;
    width: 33.33%;
    background-size: cover;
    background-position: center;
    margin-bottom: 0.5rem; /* Tailwind mb-2 */
    /* border: solid black 2px; */
    border-radius: 50px;
    border-radius: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
    
    
}

.profile-box {
   
     
    width: 33%;
    height: 65vh;
    padding: 0.625rem; /* Tailwind p-2.5 */
    border-radius: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
   
}

.profile-header {
    display: flex;
    justify-content: space-between;
}

.profile-picture {
    width: 25vh;
    height: 25vh;
    overflow: hidden;
    border-radius: 50%; /* Tailwind rounded-full */
}

.profile-picture-search{
    width: 5vh !important;
    height: 5vh !important;
    display:flex;
}

.profile-img-search-collab{
    width: 100%;
    overflow: hidden;
    border-radius: 50%; /* Tailwind rounded-full */
    border: #000 2px solid;
    object-fit:cover;
}
.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    width: 35vh;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-details {
    display: flex;
    justify-content: space-around;
}

.profile-bio {
    width: 100%;
    height: 25vh;
}

.profile-tags {
    display: flex;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
    height: 15vh;
    
}

.btn-green {
    background-color: #10b981; 
    padding: 0.625rem; 
    border-radius: 50px; 
    border: none;
    color: white;
    width: 50%;
    text-align: center;
}

.btn-red {
    background-color: #ef4444;
    padding: 0.625rem;  
    border-radius: 50px; 
    color: white;
    width: 100%;
}

.btn-blue {
    background-color: #3b82f6; 
    padding: 0.625rem; 
    border-radius: 50px;
    color: white;
    width: 100%;
}

.logout-form,.collab-form {
    height: 15vh;
    width: 50%;
    display: flex;
    align-items: center;
}


/*------------PRODUCTSHEET-------------*/

#productsheet div{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#productsheet div article{
    width: 50%;
}
#productsheet div article img{
    width: 80%;
    margin: 0 10%;
}
#productsheet h3{
    font-size: 60px;
    margin: 10% 0;
}
#productsheet h4{
    font-size: 20px;
    margin: 5% 0 2%;
}
#productsheet ul{
    display: flex;
    list-style: none;
    margin-bottom: 5%;
}
#productsheet ul li{
    margin-right: 2%;
}
#productsheet ul li:hover{
    cursor: pointer;
    scale: 1.05;
    color: #3b82f6;
}




/*-------------FOOTER-------------*/

footer{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-box {
    display: flex;
    justify-content: space-between;

}


.footer-content {
    display: flex;
}

.footer-social {
    display: flex;
    gap: 16px;
    align-items: center;
}


/*--------------MESSAGES--------------*/

.chat-box {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Assurez-vous d'avoir cette propriété pour éviter les débordements */
}

.chat-box-header {
    background-color: #0084ff;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-box-header h2 {
    margin: 0;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    cursor: pointer;
    font-size: 1.5rem;
    
}

.chat-box-controls {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    right: 10px;
    top: 10px;
    border-radius: 5px;
}

#chat-box-body {
    max-height: 400px; /* Ajuste cette valeur selon tes besoins */
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-box-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Permet le défilement vertical */
    -webkit-overflow-scrolling: touch; /* Pour un défilement fluide sur iOS */
}

.message {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.message p {
    margin: 5px 0;
}

.chat-form {
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
}

.chat-form input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.chat-form button {
    background-color: #0084ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.chat-form button:hover {
    background-color: #0056b3;
}
